
<body class="vh-100 gradient-custom d-flex flex-column justify-content-between">

    <div class="navbar-custom">
      <a (click)="toggleDropdown()">
        <span *ngIf="currentUser$ | async as user">
          <span *ngIf="user.photoURL">
            <img [src]="user.photoURL" alt="Foto de perfil de usuario" class="user-photo">
          </span>
          <span *ngIf="!user.photoURL">
            <i class="fas fa-user-circle"></i>&nbsp;&nbsp;
          </span>
          {{ user.displayName ? user.displayName : user.email }}
        </span>
      </a>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <button class="logout-button" (click)="logout()">
            <i class="fa solid fa-power-off"></i> Cerrar Sesión
          </button>
        </div>
      </div>

    <div class="card-container">
    <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-f63ca.appspot.com/o/CV.jpeg?alt=media&token=9e535adc-76b1-4019-a2a9-aa80bcc8e7b9"/>
        <div>
            <h2>Diaz Giosso, Lucas</h2>
            <h3>Word Scramble</h3>
            <p>
                Es un juego en el que las letras que 
                pueden formar una palabra con sentido 
                se barajan o revuelven al azar, y los 
                jugadores tienen que averiguar la palabra 
                correcta utilizando esas letras aleatorias.
            </p>
            <button (click)="onClickWs($event)">Ir a Word Scramble</button>
        </div>
    </div>
    <input type="button" [value]="btnVolver" [class]="['button-container']" (click)="onClick($event)"/>
    
</div>
</body>


